* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	width: 950px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h2 {
	font-family: 'Open Sans';
	color: #20A6EF;
	font-size: 30px;
}
img {
	height: auto;
}
header {
	height: 90px;
	background-color: #0F89D2;
	display: flex;
	align-items: center;
	position: sticky;
 	top: 0;
		.logo {
			height: 80px;
		}
		.header-right {
			display: flex;
			align-items: center;
			a {
				font-family: 'Open Sans', italic;
				color: white;
				font-size: 15px;
				cursor: pointer;
				opacity: 0.5;
				text-decoration: none;
				&:hover {
					opacity: 1;
				}
			}
			.mail {
				display: flex;
				align-items: center;
				img {
					cursor: pointer;
					margin-right: 5px;
				}
			}
			.language {
				width: 100px;
				text-align: center;
			}
			.border-language {
				border-left: 1px solid white;
			}
		}
}
.invoice {
	margin-top: 100px;
	.container {
		flex-direction: column;
		align-items: stretch;
		height: 270px;
		box-shadow: 0px 0px 30px 0px rgba(92, 95, 101, 0.28);
		padding: 30px;
		.invoice-number {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			div {
				display: flex;
				justify-content: space-between;
				padding-bottom: 20px;
			}
			p {
				font-family: 'Open Sans';
				color: grey;
				font-size: 20px;
			}
			.invoice-right {
				color: black;
			}
		}
		.sum {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid #F2F3F2;
			padding-top: 10px;
		}
	}
}
.methods {
	padding: 100px 0;
	.container {
		display: block;
		.systems {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 30px;
			a {
				background-color: #FBFBFB;
				display: flex;
				flex-direction: column;
				align-items: center;
				box-shadow: 0px 0px 10px 0px rgba(92, 95, 101, 0.28);
				margin-top: 20px;
				padding: 10px 0;
				cursor: pointer;
				text-decoration: none;
				width: 170px;
				&:hover {
					box-shadow: 0px 10px 10px 0px rgba(92, 95, 101, 0.28);
					transition: 0.4s;
				}
			}
			p {
				font-family: 'Open Sans';
				color: #20A6EF;
				font-size: 20px;
			}
		}
	}
}
footer {
	width: 100%;
	height: 77px;
	background-color: #F7F8FA;
	box-shadow: 0px -5px 10px 0px rgba(92, 95, 101, 0.28);
	display: flex;
	justify-content: space-between;
	align-items: center;
	.container {
		a {
			text-decoration: none;
			font-family: 'Open Sans';
			font-size: 20px;
			color: #919193;
			cursor: pointer;
		}
		.pay-systems {
			display: flex;
			a {
				margin-left: 20px;
			}
		}
		.footer-right {
			display: flex;
			a {
				font-family: 'Open Sans', italic;
				opacity: 0.5;
				font-size: 15px;
				&:hover {
					opacity: 1;
				}
			}
			.language {
				width: 100px;
				text-align: center;
			}
			.border-language {
				border-left: 1px solid #919193;
			}
		}
	}
}